:root {
    --priority-link-text: #000000;
    --orange-color: #ff6c00;
    --priority-title-color: #ffffff;
    --secondary-text-color: #303030;
    --text-fill-color: #555555;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
}

a {
    display: inline-block;
    color: var(--priority-title-color);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--orange-color);
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: var(--priority-title-color);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sup-title {
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}

.title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: var(--secondary-text-color);
}

.sub-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

.container {
    margin: 0 auto;
    width: 1170px;
    /* outline: 1px solid red; */
    /* padding-left: 15px;
    padding-right: 15px; */
}

.current-link {
    margin-left: 0;
    margin-right: 0;
    color: var(--orange-color);
}

.button-booking {
    padding: 12px 0;
    width: 160px;
    height: 40px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-align: center;
    color: var(--priority-title-color);
    border: 1px solid var(--orange-color);
    border-radius: 25px;

}

.button-booking:hover,
.button-booking:focus {
    background-color: var(--orange-color);
    color: #ffffff;
}

/* Header */
.section.header {
    background-color: bisque;
    padding: 32px 0;
}

.container.header {
    display: flex;
}

.logo {
    width: 69px;
    height: 56px;
    display: block;
}

.menu {
    display: flex;
    align-items: center;
}

.list.menu {
    display: flex;
    margin-left: 130px;
    gap: 30px;
}

.list.header.right {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.phone-header {
    margin-right: 44px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

/* Hero */
.container.hero {
    display: flex;
}

.list.aside {
    width: 100px;
    background-color: #fff;
}

.some-hero {
    transform: rotate(-90deg);
}

.hero-content {
    flex-grow: 1;
    padding: 150px 20px 40px 100px;
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
        url(../img/hero_slider_3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.hero-content>.sup-title,
.hero-content>h1 {
    margin-bottom: 20px;
}

.hero-content>.sub-title {
    max-width: 360px;
    margin-bottom: 144px;
}

.hero-slider {
    display: flex;
    justify-content: flex-end;
}

.hero {
    font-size: 72px;
    line-height: 85px;
    color: var(--priority-title-color);
}

.slider {
    padding: 0;
    width: 60px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    border: transparent;
    text-decoration: underline;
    letter-spacing: 0.1em;
    text-transform: none;
    background-color: transparent;
}

.slider:hover,
.slider:focus {
    color: #ffffff;
}

.back {
    text-align: left;
    margin-right: 24px;
}

.forward {
    text-align: right;
}

/* About */
.section.about {
    padding: 120px 0;
}

.container.about {
    display: flex;
}

.list.about {
    display: flex;
}

.list-item-about {
    margin-right: 30px;
}

.about-content {
    width: 470px;
}

.about-content>.sup-title.about,
.about-content>h2,
.about-content>h3 {
    margin-bottom: 20px;
}

.about-content>.sub-title.about-text {
    margin-bottom: 42px;
}

.about {
    color: var(--secondary-text-color);
}

.h3-about {
    color: var(--text-fill-color);
}

.about-text {
    font-size: 14px;
    line-height: 26px;
    color: var(--text-fill-color);
}

/* Services */

.section.services {
    padding: 120px 0;
    background-image: url(../img/services_and_prices.webp);
    background-color: #111319;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container.services>.sup-title {
    margin-bottom: 20px;
}

.container.services>.title.services {
    margin-bottom: 44px;
}

.container-prices {
    display: flex;
    margin-bottom: 44px;
    gap: 30px;
}

.list.prices {
    display: flex;
    flex-direction: column;
    width: calc((100%-30px)/2);
    padding: 30px 22px;
    row-gap: 20px;
}

.list-item-prices {
    display: flex;
    justify-content: space-between;
}

.list.prices.left {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.list.prices.right {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services {
    color: var(--priority-title-color);
}

.button-booking.services {
    display: block;
    margin: 0 auto;
}

/* Why */
.section.why {
    padding: 120px 0
}

.container.why {
    display: flex;
    flex-direction: row;
    padding-left: 70px;
    padding-right: 100px;
}

.list.why {
    margin-right: 130px;
}

.list-item-why {
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    background: #F7F7F7;
    font-weight: 700;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--secondary-text-color);
}

.list-item-why:not(:last-child) {
    margin-bottom: 30px;
}

.sub-num {
    margin-top: 6px;
    font-weight: 600;
    text-align: center;
    color: #303030;
}

.plus {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--orange-color);
}

.sup-title.why,
.title.why {
    margin-bottom: 20px;
}

.why-text {
    width: 500px;
}

.why {
    color: var(--secondary-text-color);
}

.why-text {
    color: var(--text-fill-color);
}

/* Barbers */
.section.barbers {
    background: #F7F7F7;
    padding: 120px 0;
}

.sup-title.barbers {
    margin-bottom: 20px;
    color: var(--secondary-text-color);
}

.title.barbers {
    margin-bottom: 44px;
}

.list.barbers {
    display: flex;
    gap: 30px;
}

.list-item-barbers {
    width: calc((100%-60px)/3);
}

.barber-photo {
    margin-bottom: 30px;
}

.barber-name {
    margin-bottom: 8px;
    line-height: 25px;
    text-align: center;
    color: var(--secondary-text-color);
}

.barber-spec {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: var(--orange-color);
}

.list.barber-some {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.link-some {
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    background-color: #fff;
}

.link-some:hover,
.link-some:focus {
    fill: #ff6c00;
}

/* Portfolio */
.hide {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset (50%);
    clip-path: inset (50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal important;
}

.section.portfolio {
    padding: 120px 0px;
}

.sup-title.portfolio {
    margin-bottom: 44px;
}

.list.portfolio {
    display: flex;
    gap: 30px;
}

.list-item-portfolio {
    width: calc((100%-90px)/3);
}

.portfolio {
    color: var(--secondary-text-color);
}

/* Booking */
.section.booking {
    padding-top: 130px;
    padding-bottom: 120px;
    background-color: #191C26;
    background-image: url(../img/contact_bg.webp);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
}

.container.booking {
    display: flex;
}

.booking-form {
    width: 50%;
}

.title.booking {
    margin-bottom: 40px;
    color: var(--priority-title-color);
}

.name-tel {
    display: flex;
    justify-content: space-between;
}

.name-tel>input {
    width: 270px;
    margin-bottom: 53px;
}

.message {
    height: 76px;
    width: 100%;
    margin-bottom: 44px;
}

input {
    background: transparent;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
}

.button-booking.send {
    background-color: transparent;
    font-weight: 600;
    line-height: 16px;
}

.button-booking.send:hover,
.button-booking.send:focus {
    background-color: var(--orange-color);
    color: #ffffff;
}

.contacts {
    display: flex;
    flex-direction: column;
    padding-left: 105px;
    width: 50%;
}

.list-contacts {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.list-item-contacts {
    display: flex;
    align-items: center;
    gap: 16px;
}

.list-item-contacts:last-child {
    margin-bottom: 70px;
}

.address {
    font-weight: 700;
}

.contacts-mail {
    text-decoration: underline;
}

.sup-title.working {
    margin-bottom: 20px;
    color: var(--priority-title-color);
}

.icon-contacts {
    width: 24px;
    height: 24px;
}

/* Footer */
.section.footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background: #F7F7F7;
}

.container.footer {
    display: flex;
    align-items: center;
}

.copy {
    letter-spacing: 0.2em;
    color: #9da4bd;
    text-transform: none;
}

.some-footer {
    display: flex;
    margin-left: auto;
    gap: 40px;
}

.some {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: none;
    color: var(--secondary-text-color);
}