h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
}

.list {
    display: flex;
    justify-content: center;
    gap: 20px;
    outline: 1px solid red;
    padding: 20px;
}

.list-item{
    position: relative;
    padding: 20px;
    outline: 1px solid red;
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: blue;
    transform: scaleX(0);
    transition: transform 300ms;
}

.list-item:hover .link::after{
   transform: scaleX(1);
}

.ticket {
    width: 370px;
    outline: 1px solid red;
    margin: 20px auto;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}

.thumb {
    position: relative;
    overflow: hidden;
}

.thumb::after {
    content: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi deleniti temporibus ut modi repellat doloribus officiis? Incidunt aspernatur temporibus ab animi tempore aliquid inventore provident placeat omnis voluptatem, quod maiores ! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima sapiente accusamus, corporis numquam aut voluptatem dolor ea ipsam eos adipisci similique recusandae nobis. Voluptatibus amet eius quibusdam possimus optio vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ipsam? Ad consequuntur corporis quod incidunt, soluta id recusandae ipsam impedit totam,vel aliquam sapiente adipisci architecto quos nobis cumque dolore? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi deleniti temporibus ut modi repellat doloribus officiis? Incidunt aspernatur temporibus ab animi tempore aliquid inventore provident placeat omnis voluptatem, quod maiores ! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima sapiente accusamus, corporis numquam aut voluptatem dolor ea ipsam eos adipisci similique recusandae nobis. Voluptatibus amet eius quibusdam possimus optio vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, ipsam? Ad consequuntur corporis quod incidunt, soluta id recusandae ipsam impedit totam,vel aliquam sapiente adipisci architecto quos nobis cumque dolore?';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 100%);
    height: 100%;
    padding: 15px;
    text-align: justify;
    overflow: auto;
    background-color: rgba(157, 164, 189, 0.5);
    color: #fff;
    transition: 500ms;
}

.thumb:hover::after {
    transform: translate(0, 0);
}

.text {
    margin-top: 30px;
    margin-bottom: 30px;
}