.about {
  display: flex;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.about_photo {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.about_photo_item {
  margin-right: 30px;
}

.about__content {
  width: 470px;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.sup-title--about,
.title--about,
.sub-title--about {
  margin-bottom: 20px;
}

.sup-title--about {
  color: var(--secondary-text-color);
}

.title--about {
  @media screen and (max-width: 767px) {
    font-size: 28px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
  }
}

.sub-title--about {
  color: var(--text-fill-color);

  @media screen and (max-width: 767px) {
    font-size: 16px;
    letter-spacing: 0.32px;
  }
}

.about-text {
  font-size: 14px;
  line-height: 26px;
  color: var(--text-fill-color);
  margin-bottom: 42px;
}

.button--about {
  color: var(--secondary-text-color);
}
