body {
    padding: 15px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: #191C26;
    transition: color 250ms linear;
}

a:hover {
    color: #ff6c00;
}

button {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    padding: 12px 0;
    min-width: 160px;
    height: 40px;
    text-align: center;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    transition: 250ms linear;
}

button:hover {
    background-color: #ff6c00;
    color: #ffffff;
}

select {
    outline: none;
    background-color: transparent;
}

input {
    outline: none;
    background-color: transparent;
    border-style: hidden;
    color: #ffffff;
}

.checkbox {
    appearance: none;
    position: absolute;
}

.radio {
    appearance: none;
    position: absolute;
}

.sub-title {
    color: rgba(157, 164, 189, 0.5);
}

.list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.list-item {
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #191C26;
    transform: scaleX(0);
    transition: transform 250ms linear,
        background-color 250ms linear;
}

.list-item:hover .link::after {
    background-color: #ff6c00;
    transform: scaleX(1);
}

.js-speaker-form {
    -webkit-box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 25px 10px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    margin: 0 auto 100px auto;
    padding: 24px;
    width: 500px;
    background-color: #191C26;
    border-radius: 10px;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
}

.from-group {
    padding: 10px 0;
    border: none;
}

.from-group.input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.label-input {
    position: relative;
    height: 50px;
    padding-top: 20px;
}

.input-info {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgba(157, 164, 189, 0.5);
    transition: border-bottom 250ms linear;
}

.sub-title.input {
    position: absolute;
    top: 0;
    transition: color 250ms linear;
}

.input-info:not(:placeholder-shown)+.sub-title,
.input-info:focus+.sub-title {
    color: #ffffff;
}

.input-info:focus,
.input-info:not(:placeholder-shown) {
    border-bottom: 1px solid #ffffff;
}

.input-info::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.5);
    transition: color 250ms linear;
}

.input-info:focus::placeholder{
    color: #ffffff;
}

.centered {
    text-align: center;
    margin-bottom: 15px;
    color: #ffffff;
}

.services {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-check {
    position: absolute;
    top: 2px;
    left: 1px;
    width: 12px;
    height: 12px;
    scale: 0;
    fill: #9da4bd;
    transition: scale 250ms linear;
}

.checkbox:checked~.icon-check {
    scale: 1;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(157, 164, 189, 0.5);
    border-radius: 2px;
    transition: 250ms linear;
}

.checkbox:checked+.icon {
    border: 1px solid transparent;
    background-color: #ffffff;
}

.hair-style {
    color: rgba(157, 164, 189, 0.5);
    transition: color 250ms linear;
}

.checkbox:checked~.hair-style {
    color: #ffffff;
}

.sex-list {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.sex-item {
    display: flex;
}

.sex {
    color: rgba(157, 164, 189, 0.5);
    transition: color 250ms linear;
}

.label-radio {
    display: flex;
    align-items: center;
    position: relative;
    gap: 5px;
}

.radio-icon {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(157, 164, 189, 0.5);
    border-radius: 50%;
    transition: border 250ms linear;
}

.radio-icon-inside {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #9da4bd;
    scale: 0;
    transition: scale 250ms linear;
}

.radio:checked+.radio-icon {
    border: 1px solid #ffffff;
}

.radio:checked~.radio-icon-inside {
    scale: 1;
    background-color: #ffffff;
}

.radio:checked~.sex {
    color: #ffffff;
}

.data-file {
    display: flex;
    justify-content: space-between;
}

.data,
.file {
    width: calc(50% - 20px);
}

.time {
    width: 100%;
    border: 1px solid rgba(157, 164, 189, 0.5);
    border-radius: 4px;
    padding: 1px;
    color: rgba(157, 164, 189, 0.5);
}

.upload {
    display: inline-block;
    width: 100%;
}

.drop-down {
    text-align: center;
    width: 100%;
    height: 30px;
    border-color: rgba(157, 164, 189, 0.4);
    color: #ffffff;
    border-radius: 10px;

}

.message {
    height: 70px;
    width: 100%;
    resize: none;
    border-style: hidden;
    border-bottom: 1px solid rgba(157, 164, 189, 0.5);
    background-color: transparent;
    outline: none;
    color: #ffffff;
    transition: border-bottom 250ms linear;
}

.message:focus,
.message:not(:placeholder-shown){
    border-bottom: 1px solid #ffffff;
}

.message:focus::placeholder{
    color: #ffffff;
}

.from-group.message-container {
    margin-bottom: 10px;
}

.message::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.5);
    transition: color 250ms linear;
}

.btn {
    margin: 0 auto;
}