.title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color);
}

.sup-title {
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);

  &::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
    margin-right: 20px;
  }
}

.sub-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
