.page-header {
  position: absolute;
  width: 100%;
  padding: 32px 0;
  z-index: 1;
  // background-color: gray;

  @media screen and (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header {
  display: flex;

  @media screen and (max-width: 767px) {
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  width: 69px;
  height: 56px;
  display: block;

  @media screen and (max-width: 767px) {
    fill: #ffffff;
  }
}

.header_nav {
  display: flex;
  width: 100%;
  @media screen and (max-width: 767px) {
    display: block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 66%;
    height: 100vh;
    background-color: #ffffff;
    padding: 48px 30px 0 40px;
    transition: transform 250ms linear;
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateX(0%);
  transition: transform 250ms linear;
}

.menu {
  display: flex;
  margin-left: 130px;
  gap: 30px;

  @media screen and (max-width: 767px) {
    display: block;
    margin: 0 0 64px 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1170px) {
    margin-left: 58px;
    gap: 20px;
  }
}

.some-in-menu {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
    margin-top: 70px;
  }
}

.some-in-menu-item {
  padding: 12px 0;
  color: var(--secondary-text-color);
}

.link-menu {
  padding: 20px 0;
  position: relative;

  @media screen and (max-width: 767px) {
    padding: 12px 0;
    color: var(--secondary-text-color);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--priority-title-color);
    transform: scaleX(0);
    transition: transform 250ms linear, background-color 250ms linear;
  }

  &:hover::after {
    transform: scaleX(1);
    background-color: var(--orange-color);
  }
}

.menu--right {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;

  @media screen and (max-width: 767px) {
    display: block;
  }

  @media screen and (min-width: 768px) and (max-width: 1170px) {
    margin-right: 10px;
  }
}

.phone-header {
  padding: 20px 0;
  margin-right: 44px;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    color: var(--secondary-text-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1170px) {
    display: none;
  }
}

.button--booking {
  @media screen and (max-width: 767px) {
    color: var(--secondary-text-color);
  }
}

.button_menu {
  display: none;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 0;

  &:hover {
    background-color: transparent;
  }

  &--open {
    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &--close {
    @media screen and (max-width: 767px) {
      display: block;
      margin-left: auto;
      margin-bottom: 30px;
    }
  }
}

.icon_menu {
  &--open {
    fill: #ffffff;
  }

  &--close {
    fill: #000000;
  }
}
