body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: var(--priority-title-color);

  @media screen and (max-width: 767px) {
    overflow-x: hidden;
  }
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--priority-title-color);
  background-color: transparent;
  cursor: pointer;
  padding: 12px 0;
  width: 160px;
  height: 40px;
  text-align: center;
  border: 1px solid var(--orange-color);
  border-radius: 25px;
  transition: 250ms linear;

  &:hover {
    background-color: var(--orange-color);
    color: var(--priority-title-color);
  }
}

address {
  font-style: normal;
}

img {
  display: block;
}

a {
  display: inline-block;
  color: var(--priority-title-color);
  text-decoration: none;
  transition: 250ms linear;

  &:hover,
  &:focus {
    color: var(--orange-color);
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
